trigger:
- master
pr:
  branches:
    exclude:
    - '*'

pool:
  vmImage: 'windows-2022'

steps:
# checkout submodules
- checkout: self
  persistCredentials: true
  submodules: true

- task: UseDotNet@2
  displayName: 'Use latest .NET SDK'
  inputs:
    packageType: sdk
    version: 10.x

# build and deploy documentation
- task: PowerShell@2
  inputs:
    filePath: 'build.ps1'
    arguments: '1'
  env:
    GITHUB_PAT: $(linq2db.github.pat)
